
html, body, .root, .App {
  min-height: 100vh;
}

.App {
  width: 100%;
  position: relative;
  display: block;
  overflow-y: hidden;
}

.container {
  margin: 10vw;
  
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  gap: 4vw;

  /* width: 80vw; */
}

.container > .covid-chart {
  width: 500px;
}

@media (max-width: 680px){

  .container > .covid-chart {
    width: 100%;
  }
}
