
html, body, .root, .App {
  height: 100vh;
}

.App {
  width: fit-content;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.info-side {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 10px;
  overflow-y: hidden;
}

.country-state {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.county {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 4em;
}
